<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="vbean" class="classes.Vehicle">
        <property name="vehicle_number" value="AP35J4048"/>
        <property name="color" value="Black"/>
        <property name="owner_name" value="Varsha Mamidipaka"/>
    </bean>

    <bean id="cbean" class="classes.Car">
        <property name="company" value="Benz"/>
        <property name="model" value="V7"/>
        <property name="vehicle" ref="vbean"/>
    </bean>
</beans>